div(class="chatWrapper")
  div(class="topBar")
  div(class ="conversation" ng-repeat="message in chat.messages")
    div {{ message.username + ':' + message.message }}
  
  form(id="form" ng-enter="chat.submit()")
    div(class="textBox")
      textarea(id="message" ng-model="chat.message" autofocus )
